
.containers {
    width: 500px;
    margin: auto;
    background: white;
    height: 30vh;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-forms {
    <!--background: #fff;-->
    padding: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    height: 70vh;
    margin-top: 100px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.7);
}
.login-form {
    <!--background: #fff;-->
    padding: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    height: 50vh;
    margin-top: 80px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.7);
}
input[type=text], input[type=password], input[type=radio] , input[type=email] {
    padding: 10px;
    margin: 5px 0;
    width: 95%;
}


h2 {
    text-align: center;
    color: #333;
    padding-bottom: 10px;
}
h3 {
    text-align: center;
    color: white;
}
h4 {
    text-align: center;
    color: ghostwhite;
}
h5 {
    text-align: center;
    color: whitesmoke;
}
.btn {
    background: #5cb85c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    display: inline-block;
}
.btn:hover {
    background: #4cae4c;
}

.btn2 {
    background: #5cb85c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    float :right;
    border-radius: 5px;
    display: inline-block;
}
.btn2:hover {
    background: #4cae4c;
}

.btn2-link {
    display: inline-block;
    padding: 10px 15px;
    background: #5cb85c;
    color: white;
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn2-link:hover {
    background-color: #5cb85c;
}

.question {
    margin-bottom: 15px;
}

